body {
    margin: 0 auto;
}

header {
    display: flex;
    /*header안의 요소들 정렬*/
    justify-content: space-between;
    align-items: center;
    padding: 15px 10.5%;
    background-color: #7fffd4;
    height: 80px;
}

.gnb_nav_menu {
    display: flex;
    gap: 200px;
    list-style: none;
}

.gnb_nav_menu>a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 40px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.logo:hover {
    color: #1100fc;
    font-weight: 700;
}

.my:hover,
.portfolio:hover,
.gallery:hover {
    color: #1100fc;
    font-size: 16px;
    font-weight: 800;
}

section {
    display: flex;
    background-color: white;
    min-height: 900px;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

footer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    font-size: 13.5px;
    font-weight: 500;
}
.portfolio_main {
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.portfolio-items {
    display: flex;
    justify-content: space-around;
}

.portfolio-item {
    display: inline-block; /*CSS Display속성*/
    width: 280px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.portfolio-item img {
    width: 100%;
    border-radius: 8px;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}

.portfolio-item p {
    font-size: 16px;
    margin-top: 10px;
}